<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="content-owner" content="ВСС " />
    <meta name="Keywords" content="ВСС " />
    <meta name="Description" content="ВСС " />
    <meta name="robots" content="all" />
    <title>ВСС | Обращение в ВСС</title>
    <link rel="shortcut icon" href="http://www.ins-union.ru/favicon.ico" />

    <script type="text/javascript">

        function mainMenuOn(button) {
            button.style.background = 'none';
            button.style.color = '#fff';

            button.parentNode.parentNode.style.background = 'url("http://www.ins-union.ru/css/images/main_menu_active_1.gif") 0px 0px no-repeat';
            button.parentNode.style.background = 'url("http://www.ins-union.ru/css/images/main_menu_active_2.gif") 0px 100% no-repeat';
            button.style.position = 'relative';

        }
        function mainMenuOff(button) {
            button.style.background = 'url("http://www.ins-union.ru/css/images/main_menu_arr_down.gif") 90% 18px no-repeat';
            button.style.color = '#333333';

            button.parentNode.parentNode.style.background = 'none';
            button.parentNode.style.background = 'none';
            button.style.position = 'relative';
        }

    </script>
    <link rel="stylesheet" href="http://www.ins-union.ru/css/style.css" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>

    <div class="root_block">
        <div class="root_block_conteiner">
            <table class="head_tb">
                <tbody>
                    <tr>
                        <td class="head_logo_td">
                            <a href="http://www.ins-union.ru/rus">
                                <img src="http://www.ins-union.ru/css/images/logo.gif" alt="" /></a>
                            <span><a href="http://www.ins-union.ru/rus">Всероссийский
                                <br />
                                союз страховщиков</a></span>
                        </td>
                        <td class="head_lang_td">
                            <div class="head_icons_block">
                                <a href="http://www.ins-union.ru/rus">
                                    <img src="http://www.ins-union.ru/css/images/home_icon.gif" alt="" /></a>
                                <a>
                                    <img src="http://www.ins-union.ru/css/images/mail_icon.gif" alt="" /></a>
                                <a href="http://www.ins-union.ru/rus/sitemap">
                                    <img src="http://www.ins-union.ru/css/images/map_icon.gif" alt="" /></a>
                                <a href="javascript:window.print();">
                                    <img src="http://www.ins-union.ru/css/images/print_icon.gif" alt="" /></a>
                            </div>
                            <div class="head_lang_block">
                                <div>
                                    <a href="http://www.ins-union.ru/" class="active_lang">RUS</a>
                                    <a href="http://www.ins-union.ru/eng">ENG</a>
                                </div>
                            </div>
                        </td>
                        <td class="head_login_form_td">
                            <div id="WebLoginLayer0" style="position: relative; width: 200px">
                            </div>
                            <div id="WebLoginLayer2" style="position: relative; display: none"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td colspan="2" align="right" style="height: 60px"></td>
                    </tr>
                </tbody>
            </table>
            <table class="content_tb">
                <tbody>
                    <tr>
                        <td class="content_left_td">


                            <div class="main_menu">
                                <div class="main_menu_2">
                                    <div class="main_menu_links">
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/about" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">О ВСС</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/committee" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Комитеты, комиссии и рабочие группы</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/legislation" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Законодательство</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/international" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Международная деятельность </a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/WTO" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Россия и ВТО</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/life-insur" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Страхование жизни</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/news" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Новости/Публикации</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/gallery" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">События (Фото)</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/action1" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Мероприятия ВСС</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/web" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Web-ресурсы</a></div>
                                        </div>
                                        <div>
                                            <div><a href="http://www.ins-union.ru/rus/1695" onmouseover="mainMenuOn(this);" onmouseout="mainMenuOff(this);">Обращение в ВСС</a></div>
                                        </div>
                                        <div class="current_btn">
                                            <div>
                                                <a href="/">Реестр агентов</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="content_right_td inside_cell">

                            @RenderBody()

                        </td>
                    </tr>
                </tbody>
            </table>



            <table class="bottom_tb">
                <tbody>
                    <tr>
                        <td class="bottom_td_phone">
                            <span>495</span><strong>232-12-24</strong>
                            <br />
                            <br />
                            <br />
                            <div><a href="http://www.ins-union.ru/rus/about/contacts">Контактная информация</a></div>
                        </td>
                        <td class="bottom_td_copyright">
                            <div>
                                <a href="http://old.ins-union.ru/">предыдущая версия сайта</a><br />
                                © 2010. Всероссийский союз страховщиков.<br />
                                Все права защищены.
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div id="fancy_overlay"></div>
    <div id="fancy_loading">
        <div></div>
    </div>
    <div id="fancy_outer">
        <div id="fancy_inner">
            <div id="fancy_close"></div>
            <div id="fancy_bg">
                <div class="fancy_bg" id="fancy_bg_n"></div>
                <div class="fancy_bg" id="fancy_bg_ne"></div>
                <div class="fancy_bg" id="fancy_bg_e"></div>
                <div class="fancy_bg" id="fancy_bg_se"></div>
                <div class="fancy_bg" id="fancy_bg_s"></div>
                <div class="fancy_bg" id="fancy_bg_sw"></div>
                <div class="fancy_bg" id="fancy_bg_w"></div>
                <div class="fancy_bg" id="fancy_bg_nw"></div>
            </div>
            <a href="javascript:;" id="fancy_left"><span class="fancy_ico" id="fancy_left_ico"></span></a><a href="javascript:;" id="fancy_right"><span class="fancy_ico" id="fancy_right_ico"></span></a>
            <div id="fancy_content"></div>
        </div>
    </div>
    <div id="fancy_title">
        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td class="fancy_title" id="fancy_title_left"></td>
                    <td class="fancy_title" id="fancy_title_main">
                        <div></div>
                    </td>
                    <td class="fancy_title" id="fancy_title_right"></td>
                </tr>
            </tbody>
        </table>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
