@model AgentRegisterOpenPart.Web.Models.AgentsSearchViewModel

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.agent-name-link').click(function (e) {
                $('.agent-details').hide();
                $(this).next('.agent-details').show();
                e.preventDefault();
            });


            $('#main button[type="submit"]').click(function () {
                return $('#CaptchaText').val().replace(/\s/g, "") != "" && $('#SearchText').val().replace(/\s/g, "") != "";
            });

        });

    </script>
}

@section styles
{
    <style type="text/css">
        .agent-name-link
        {
            text-decoration: underline;
            cursor: pointer;
        }

        .agent-details
        {
            margin: 17px 0px 17px 0px;
        }

            .agent-details div
            {
                margin-bottom: 3px;
            }

        .error
        {
            color: #f00;
            font-weight: bold;
        }

        #agents-search-result
        {
            margin: 10px 20px;
            width: 100%;
        }

            #agents-search-result li
            {
                font-size: 120%;
                margin: 13px 0px 13px 0px;
            }

        #main input[type="text"]
        {
            font: 16px arial,sans-serif;
            padding: 2px 5px;
        }

        #main td
        {
            background-color: transparent;
            vertical-align: middle;
            padding: 0px;
        }

        #main *
        {
            box-sizing: border-box;
            -moz-box-sizing: border-box; 
            -webkit-box-sizing: border-box;
        }

        /*#main *
        {
            border:1px solid lightgreen;
        }*/


        #firm-logos 
        {
            width: 100%;
            margin: 10px auto;
        }

        #firm-logos ul 
        {
            margin: 0 auto;
            width: 450px;
            list-style-type:none;
            text-align: center;
        }

        #firm-logos  ul li
        {
            margin: 3px;
            display:inline;
        }

        #firm-logos ul li img
        {
            width: 130px;
        }


        .form_button { background: url("http://www.ins-union.ru/css/images/button_left.gif") 0px 0px no-repeat; width:80px; height:100%; height:23px; }
        .form_button div { background: url("http://www.ins-union.ru/css/images/button_right.gif") 100% 0px no-repeat; height:100%; }
        .form_button div button { border:none; background:transparent; font-size: 13px; font-family: georgia; font-style:italic; color:#fff; cursor:pointer; vertical-align:middle; text-align:center; width:100%; height:100%;}
        .form_button div button img { display:inline; vertical-align:middle; margin-left: 5px; margin-top:-3px; }


        #SearchText
        {
            width:100%; 
            *width:97.5%; 
        }

    </style>
}

<div id="main" style="max-width: 580px">

    <div id="firm-logos">
        <ul>
            <li><img src="~/Content/images/4.png" /></li>
            <li><img src="~/Content/images/5.png" /></li>
            <li><img src="~/Content/images/3.png" /></li>
            <li><img src="~/Content/images/2.png" /></li>
            <li><img src="~/Content/images/1.png" /></li>
        </ul>
    </div>


    <h1>Реестр агентов</h1>

    @using (Html.BeginForm())
    {
        <div>
            <table style="width: 100%">
                <tr>
                    <td>
                        <p style="text-align: justify;">Для получения информации о страховом агенте, введите, пожалуйста, его имя или номер сертификата (свидетельства).</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="SearchText" name="SearchText" maxlength="50" value="@Model.SearchText" />
                    </td>
                </tr>
            </table>

            @Html.Partial("_Captcha", Model.CaptchaImage)

            @if (ViewBag.CaptchaError != null)
            {
                <div class="error right" style="display: block;">
                    @ViewBag.CaptchaError
                </div>
                <br />
                <br />
            }


            <div class="right" style="margin-right:1px;">
                <div class="form_button">
                    <div>
                        <button type="submit">Найти<img src="http://www.ins-union.ru/css/images/login.gif"></button>
                    </div>
                </div>
            </div>

            <br />
            <br />

            @if (ViewBag.Error != null)
            {
                <table>
                    <tr>
                        <td>
                            <div class="error" style="text-align:justify">
                                @ViewBag.Error
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    }

    @if (Model.Agents != null && Model.Agents.Count > 0)
    {
        <div>
            <ol id="agents-search-result">
                @foreach (AgentRegisterOpenPart.Web.Models.Agent agent in Model.Agents)
                {
                    <li>
                        <a class="agent-name-link">@agent.LastName @agent.FirstName @agent.MiddleName</a>, @agent.InsuranceCompanyWorksIn.Name, свидетельство № @agent.CertificateNumber

                        <div class="agent-details" style="display: none">
                            <div>
                                Дата истечения срока действия сертификата: @AgentRegisterOpenPart.Web.Utils.DateTimeHelper.ToDateString(agent.DateCertificateExpires)
                            </div>
                            <div>
                                Статус: @agent.Status.Name
                            </div>
                            <div>
                                Номер Агентского Договора: @agent.AgencyAgreementNumber
                            </div>
                            <div>
                                Работает на территории: @agent.TerritoryWorksAt.Name
                            </div>
                            <div>
                                Проходил обучение: @agent.OrganizationHandedCertificate
                            </div>
                            <div>
                                Страховые продукты, которые может предлагать: @agent.ProductsWorksWith
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
    }


    @if (ViewBag.DbTime != null)
    {
        <h1>DbTime= @ViewBag.DbTime </h1>
    }

</div>





