@model AgentRegisterOpenPart.Web.Models.AgentsSearchViewModel

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $('.agent-name-link').click(function (e) {
                e.preventDefault();
                $('.agent-details-row').hide();
                $(this).parents('tr:eq(0)').next().show();
            });
        });
        
    </script>
}

@section styles
{
    <style type="text/css">

        #agentsSearchResultTable
        {
            width: 100%;
        }

        #agentsSearchResultTable th
        {
            text-align:center;
        }

        .agent-name-link
        {
            text-decoration: underline;
            cursor: pointer;
        }

        #main .agent-details-table
        {
            width:100%;
            border-width: 2px;
	        border-spacing: 2px;
	        border-style: inset;
	        border-color: white;
	        border-collapse: separate;
	        background-color: white;
        }

        #main .agent-details-table td
        {
            border-width: 0px;
	        padding: 1px;
	        border-style: none;
	        border-color: gray;
            background-color: white;
            font-weight:bold;
            font-size:small;
        }

        #main .agent-details-name-td
        {
            width: 200px;
        }

    </style>
}

<div id="main" style="width:550px">

    <h1>Реестр агентов</h1>

    <p style="text-align:justify">Для получения информации о страховом агенте, введите, пожалуйста, его имя или номер сертификата (свидетельства).</p>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.SearchText, new { style = "width:100%" })

        <br />
    
        if (ViewBag.Error != null)
        {
            <br />
            <div style="color: #f00;font-weight:bold;">
                @ViewBag.Error
            </div>
        }
    
        @Html.Partial("_Captcha", Model.CaptchaImage)

        <br />
        <input type="submit" value="Найти" />
    }

    @if (Model.Agents != null)
    {
        <br />
        <div>
            <table id="agentsSearchResultTable">
                <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Компания</th>
                        <th>Номер сертификата</th>
                    </tr>
                </thead>
                @foreach (AgentRegisterOpenPart.Web.Models.Agent agent in Model.Agents)
                {
                    <tr>
                        <td><a class="agent-name-link">@agent.LastName @agent.FirstName @agent.MiddleName</a></td>
                        <td>@agent.FirmWhereWorks</td>
                        <td>@agent.CertificateNr</td>
                    </tr>
                    <tr class="agent-details-row" style="display:none">
                        <td colspan="3">
                            <table class="agent-details-table">
                                <tr>
                                    <td class="agent-details-name-td">Дата включения в реестр:</td>
                                    <td>@agent.DateIncludedInRegister</td>
                                </tr>
                                <tr>
                                    <td class="agent-details-name-td">Статус:</td>
                                    <td>@agent.Status</td>
                                </tr>
                                <tr>
                                    <td class="agent-details-name-td">Номер в реестре:</td>
                                    <td>@agent.NrInRegister</td>
                                </tr>
                                <tr>
                                    <td class="agent-details-name-td">Работает на территории:</td>
                                    <td>@agent.TerritoryWhereWorks</td>
                                </tr>
                                <tr>
                                    <td class="agent-details-name-td">Проходил обучение:</td>
                                    <td>@agent.FirmWhereStudied</td>
                                </tr>
                                <tr>
                                    <td class="agent-details-name-td">Срок действия записи:</td>
                                    <td>@agent.RecordValidDeadline</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

</div>





