@model AgentRegisterOpenPart.Web.Models.AgentsSearchViewModel

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.agent-name-link').click(function (e) {
                $('.agent-details').hide();
                $(this).next('.agent-details').show();
                e.preventDefault();
            });


            $('#main button[type="submit"]').click(function () {
                return $('#CaptchaText').val().replace(/\s/g, "") != "" && $('#SearchText').val().replace(/\s/g, "") != "";
            });

        });

    </script>
}

@section styles
{
    <style type="text/css">
        .agent-name-link
        {
            text-decoration: underline;
            cursor: pointer;
        }

        .agent-details
        {
            margin: 17px 0px 17px 0px;
        }

            .agent-details div
            {
                margin-bottom: 3px;
            }

        .error
        {
            color: #f00;
            font-weight: bold;
        }

        #agents-search-result
        {
            margin: 10px 20px;
            width: 100%;
        }

            #agents-search-result li
            {
                font-size: 120%;
                margin: 13px 0px 13px 0px;
            }

        #main input[type="text"]
        {
            font: 16px arial,sans-serif;
            padding: 2px 5px;
        }

        #main td
        {
            background-color: transparent;
            vertical-align: middle;
            padding: 0px;
        }

        #main *
        {
            box-sizing: border-box;
        }

        /*#main *
        {
            border:1px solid lightgreen;
        }*/
    </style>
}

<div id="main" style="max-width: 580px">

    <h1>Реестр агентов</h1>

    @using (Html.BeginForm())
    {
        <div>
            <table style="width: 100%">
                <tr>
                    <td>
                        <p style="text-align: justify;">Для получения информации о страховом агенте, введите, пожалуйста, его имя или номер сертификата (свидетельства).</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="SearchText" name="SearchText" maxlength="50" style="width:100%" value="@Model.SearchText" />
                    </td>
                </tr>
            </table>

            @Html.Partial("_Captcha", Model.CaptchaImage)

            @if (ViewBag.CaptchaError != null)
            {
                <div class="error right" style="display: block;">
                    @ViewBag.CaptchaError
                </div>
                <br />
                <br />
            }


            <div class="right" style="display: block;">
                <div class="form_button">
                    <div>
                        <label for="ajaxSearch_submit">
                            <button type="submit">
                                Найти<img src="http://www.ins-union.ru/css/images/login.gif">
                            </button>
                        </label>
                    </div>
                </div>
            </div>

            <br />
            <br />

            @if (ViewBag.Error != null)
            {
                <table>
                    <tr>
                        <td>
                            <div class="error" style="text-align:justify">
                                @ViewBag.Error
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    }

    @if (Model.Agents != null && Model.Agents.Count > 0)
    {
        <div>
            <ol id="agents-search-result">
                @foreach (AgentRegisterOpenPart.Web.Models.Agent agent in Model.Agents)
                {
                    <li>
                        <a class="agent-name-link">@agent.LastName @agent.FirstName @agent.MiddleName</a>, @agent.InsuranceCompanyWorksIn.Name, свидетельство № @agent.CertificateNumber

                        <div class="agent-details" style="display: none">
                            <div>
                                Дата включения в реестр: @AgentRegisterOpenPart.Web.Utils.DateTimeHelper.ToDateString(agent.DateAdded)
                            </div>
                            <div>
                                Статус: @agent.Status.Name
                            </div>
                            <div>
                                Номер в реестре: @agent.Id
                            </div>
                            <div>
                                Работает на территории: @agent.TerritoryWorksAt.Name
                            </div>
                            <div>
                                Проходил обучение: @agent.OrganizationHandedCertificate
                            </div>
                            <div>
                                Срок действия записи: @AgentRegisterOpenPart.Web.Utils.DateTimeHelper.ToDateString(@agent.RecordValidDeadline)
                            </div>
                            <div>
                                Виды страховок: @agent.ProductsWorksWith
                            </div>
                        </div>
                    </li>
                }
            </ol>
        </div>
    }

</div>





